#charset "UTf-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;


}
body {
    background-image: linear-gradient(to right, #FAAA42,#F07700);
}
main {
    background-color: wheat;
    border-radius: 30px;
    box-shadow: 5px 5px 20px #240900;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {color: #A8211D;
    text-align: center;
    text-shadow: 1px 1px 0px #4e3229;
}
h2 {color: #A8211D;
    text-shadow: 1px 1px 0px #4e3229;
    

} 
p { color: #240900;
    text-align: justify;
    
    text-shadow: 0.3px 0.px 0px ;

}